html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* typography and icons */

h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 20px;
}

i {
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main,
header {
  width: 290px;
  margin: 0 auto;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.reply-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0px;
  font-size: 15px;
}

/* textareas + btn */
textarea {
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 17px;
  line-height: 30px;
}
.reply-textarea {
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 15px;
  line-height: 30px;
}

#reply-input-area {
  border: none;
  resize: none;
  padding: 0px 5px;
  margin: 0px 1px;
  height: 50px;
  width: 60%;
  font-size: 15px;
  line-height: 30px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

#reply-btn {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 40%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}

/* tweet */

.tweet {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.tweet-detail {
  display: flex;
  gap: 4px;
}

.tweet-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-top: 0;
}

.tweet-text {
  width: 207px;
  font-size: 14px;
  line-height: 20px;
}

/* images */

.profile-pic {
  width: 52px;
  height: 52px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

/* utility */
.hidden {
  display: none;
}

/*Modal css*/
.modal {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 450px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #0f8cdf;
  color: whitesmoke;
}

.modal-inner {
  width: 290px;
  margin: 0 auto;
}

.modal-inner-loading {
  text-align: center;
}

.modal-signup {
  color: #0f8cdf;
}

/* modal buttons */

.close-modal-btn-container {
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
  text-align: end;
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active {
  color: #f9f9f9;
  cursor: pointer;
}

.modal-close-btn:disabled {
  color: whitesmoke;
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-choice-btns {
  margin-top: 10px;
  padding: 8px 16px;
  display: block;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.modal-btn {
  padding: 10px 24px;
  cursor: pointer;
  box-shadow: -1px 3px 5px white;
}

/* modal input */

input {
  margin-top: 10px;
  border: 1px solid #f9f9f9;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

/* modal after submit */

.loading {
  width: 100%;
  margin-top: 10px;
}

.modal-display-name {
  color: fuchsia;
}

.modal-text {
  height: 40px;
  line-height: 23px;
  margin-bottom: 0;
}
